@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Noto Sans', 'sans-serif';
}

#logo{
    display: flex;
    align-items: center;
}

#logo a img{
    height: 85px;
}

#arriba{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: #2c6340;
    padding: 0px 20px;
}

#user{
    color: #FFFFFF;
    text-transform: capitalize;
}

#arriba>a{
    color: #FFFFFF;
    text-decoration: none;
}

#logo>a{
    color: #FFFFFF;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    background-color: #212121;
}

nav>a{
    color: #FFFFFF;
    text-decoration: none;
}

body{
    background-image: url(../imgback/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.index-button button[type= "submit"]{
    border: 0;
    background-color: #2c6340;
    width: 100px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.25s;
}

.index-button button[type= "submit"]:hover{
    background-color: #618934;
}

h1{
    color: #FFFFFF;
    font-weight: 900;
    justify-content: center;
    display: flex;
}

#tabla{
    display: flex;
    justify-content: center;
}

table{
    width: 85rem;
}

table, th, td {
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
}

th, td {
    padding: 3px;
}

th{
    color: #FFFFFF;
    font-weight: 1000;
    text-align: center;
    background-color: #2c6340;
}

td{
    font-weight: 1000;
    text-align: center;
    background-color: #FFFFFF;
}

td>a{
    color: #212121;
}

td>img{
    width: 70px;
}

#edit :hover{
    color: blue;
}

#delete :hover{
    color: red;
}