{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/styleR.css' %}">
<script src="{% static 'funciones/registro.js' %}"></script>
{% endblock %}

{% block content %}
    <nav>
    </nav>
    <section >    
        <div id="registro"> 
            <form id="formulario" action="" class="registro-box" method="post">
                {% csrf_token %}
                <div>
                    <p class="registro-title">REGISTRO DE USUARIO</p>
                    <input type="text" name="username" id="username" placeholder="Usuario">
                    <p>Requerido 150 carácteres como máximo</p>
                    <input type="text" name="first_name" id="first_name" placeholder="Nombre">                          
                    <p>Ingrese su Nombre</p>
                    <input type="text" name="last_name" id="last_name" placeholder="Apellido">      
                    <p>Ingrese su Apellido</p>                     
                    <input type="text" name="email" id="email" placeholder="Correo"></input>                   
                    <p>Ingrese su correo</p>
                    <input type="password" name="password1" id="password1" placeholder="Contraseña"></input>                   
                    <p>Su contraseña debe contener al menos 8 caracteres</p>
                    <input type="password" name="password2" id="password2" placeholder="Repetir Contraseña"></input>
                    <p>Para verificar, introduzca la misma contraseña anterior</p>
                </div>
                <button type="submit">Registarse</button>
            </form>
        </div>
    </section>
</body>
{% endblock %}